html {
  scroll-behavior: smooth;
}

#root {
  width: calc(100%);
  height: 100%;
  min-height: 100vh;
  background-color: #eeeeee;

  font-family: 'Inter', sans-serif;

  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

#start {
  width: 100%;
  height: 50px;
  background-color: #008484;
}

section#welcome {
  text-align: center;
  margin: 50px 50px 0 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#welcome h1 {
  font-size: 58px;
  font-weight: 700;
  color: #008484;
}

#welcome p {
  font-size: 24px;
  color: #008484;
  font-weight: 500;
}

section#logo img {
  margin: 25px 0;
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

#download {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 24px;
  margin: 0 50px;
  font-weight: 500;
  align-items: center;
}

#download > p {
  color: #008484;
  text-align: center;
}

#download a {
  outline: none;
  border: none;
  background-color: #008484;
  color: white;
  padding: 16px 64px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
  text-decoration: none;

  transition: 0.3s;
}

#download a:hover {
  background-color: #00a6a6;
}

#download a img {
  width: 28px;
  height: 28px;
  min-width: 28px;
  max-width: 28px;
  min-height: 28px;
  max-height: 28px;
}

section#information {
  margin: 50px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

section#information .dropdown {
  width: 60%;
  display: flex;
  flex-direction: column;
}

section#information .dropdown .dropdown-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  border-radius: 8px;
  padding: 16px 32px;
  cursor: pointer;
  background-color: #008484;
  color: white;
}

.dropdown-info p {
  text-shadow: 0 0 8px #000000;
}

section#information .dropdown-info img {
  width: 32px;
  min-width: 32px;
  max-width: 32px;
  transition: 0.3s;
}

#information .expanded {
  background-color: #008484;
  border-radius: 0 0 8px 8px;
  display: none;
  padding: 16px 32px;
  color: white;
  text-shadow: 0 0 5px #000000;
  line-height: 25px;
}

footer {
  width: calc(100% - 48px);
  background-color: #008484;
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  color: white;
  font-size: 14px;
  margin-top: auto;
}

@media only screen and (max-width: 900px) {
  section#information {
    width: calc(100% - 100px);
    margin: 50px;
  }

  section#information .dropdown {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  #welcome h1 {
    font-size: 32px;
  }

  #welcome p {
    font-size: 18px;
  }

  #download > p {
    font-size: 18px;
  }

  #download a {
    padding: 16px 32px;
    font-size: 16px;
  }

  #download a img {
    width: 22px;
    height: 22px;
    min-height: 22px;
    max-height: 22px;
    min-width: 22px;
    max-width: 22px;
  }

  section#information {
    width: calc(100% - 48px);
    margin: 24px;
  }

  section#information .dropdown .dropdown-info {
    font-size: 18px;
    padding: 16px 32px;
  }

  section#information .dropdown-info img {
    width: 24px;
    min-width: 24px;
    max-width: 24px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 424px) {
  #welcome h1 {
    font-size: 28px;
  }

  section#welcome {
    margin: 50px 24px 0 24px;
  }

  #download a {
    padding: 16px 32px;
    font-size: 16px;
  }

  #download a p {
    display: none;
  }

  #download a img {
    width: 22px;
    height: 22px;
    min-height: 22px;
    max-height: 22px;
    min-width: 22px;
    max-width: 22px;
  }
}
